
@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
	 margin:0px;
     padding:0px;
     text-transform:capitalize;

    
}
body{
    font-family: 'Montserrat', sans-serif;

    overflow-x: hidden !important;
    text-transform: capitalize;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-weight: 400;
    line-height: 1.5em;
}


p {
	font-size: 15px;
	margin: 12px 0 0;
	line-height: 24px;
}

/* iconarea design  */
.table-responsive {
    display: block;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none !important;
}


a{
	color: #333;
	font-weight: 400;
}

button:focus{
	box-shadow:none;
	outline:none;
	border:none;
}

button{
	cursor:pointer;
}

ul, ol {
	padding: 0;
	margin:0px;
		list-style: none;
}



a,
a:hover,
a:focus {
    color: #333;
    text-decoration: none;
    transition: all 0.3s;
}


#sidebar {
    margin-top: 0px !important ;
    z-index:11;
    width: 260px;
	transition:all 0.3s ;
    background: #FFFFFF;
    box-shadow: 0 5px 0px -7px rgb(0 0 0 / 42%), 0 0px 0px 0px rgb(0 0 0 / 0%), 0 0px 10px -5px rgb(0 0 0 / 20%);
    overflow-x: hidden;

}


#sidebar::-webkit-scrollbar{
	width:5px;
	border-radius:10px;
	background-color:#eee;
	display:none;
}
#sidebar::-webkit-scrollbar-thumbs{
	width:5px;
	border-radius:10px;
	background-color:#333;
	display:none;
}


#sidebar:hover::-webkit-scrollbar{
	display:block;
}
#sidebar:hover::-webkit-scrollbar-thumbs{
	display:block;
}

#sidebar .sidebar-header {
    padding:20px;
	background-color:#ffffff;
	border-bottom:1px solid #eee;
}

.sidebar-header h3{
	color:#333;
	font-size:17px;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
}

.sidebar-header h3 img{
	width:45px;
	margin-right:10px;
}


#sidebar ul li.active>a{
    color: #3968CA;
    font-weight: 700;
    background-color: #dce3f2;
    border-left: 3px solid #3968CA;
    margin-top: -20px;
}

#sidebar ul li a:hover{
    color: #3968CA;
    background-color:#dce3f2;

}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}

#sidebar ul li.drodown{
	position:sticky;
}


#sidebar ul.components {    
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 20px;
	line-height: 30px;
    font-size: 15px;
	position:relative;
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
 
}

#sidebar ul li a span{
	text-transform:capitalize;
	display:inline-block;
}

#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
	color: #555555;
    margin-left: 10px;
}





/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */




/*=======================================================
   main-content navbar-design start
   ===============================================*/

@media all and (max-width:1400px){
    #content {
        margin-top: -660px;
        transition: all 0.3s;
        background-color:rgb(241, 241, 241) !important;
    }
}

@media all and (max-width:1127px){
    .UnderBox {
        background-color: #fff !important;
        margin-top: 10px;
     
        
}

}

.top-navbar{
	width:100%;
	z-index:9;
	position:relative;
}


.main-content{
	padding:10px 20px 0px 20px;
	position: relative;
    width: 100%;
}



.navbar{
    background-color: active#d8d8d8;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
   letter-spacing: 1px;
   font-size: 20px;
}

.navbar button{
	background-color:transparent;
	border:none;
}
.navbar button span{
	color:#fff;
}

.UnderBox {
    background-color: #fff !important;
    color: #333;
    padding-left: 28px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 6px;

}



#sidebarCollapse{
	border-radius:50%;
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	margin-right:20px;
	border:none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}



.navbar-nav > li.active{
   color: #FFFFFF;
   border-radius:4px;
    background-color: rgba(0, 0, 0, 0.08);  
 }

.navbar-nav > li > a {
    color: #FFFFFF;
}


.navbar .notification {
	 position: absolute;
    top: 5px;
    right: 10px;
	display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
	 text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


 .navbar-nav > li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
	opacity:1;
	visibility:visible;
}


.dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
	font-weight: 400;
    transition: all 150ms linear;
}

.navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}


.navbar-nav li a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}

/*=======================================================
   main-content navbar-design end
   ===============================================*/



/*=======================================================
   main-content navbar-design start
   ===============================================*/


/*=======================================================
   main-content inner design like card start
   ===============================================*/


.card {
    margin: 10px 0;
}

.card {
    border-radius: 0px!important;
}

.card {
    display: inline-block;
    position: relative;
	border:none!important;
    width: 100%;
    margin:15px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
	background-color:#fff!important;
	border-bottom:none;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.icon.icon-warning {
    color: #ff9800;
}

.icon.icon-rose {
    color: #e91e63;
}
.icon.icon-success {
    color: #4caf50;
}
.icon.icon-info {
    color: #00bcd4;
}


.text-info {
    color: #03A9F4!important;
}

.card-stats .card-content {
    text-align: right;
    padding-top: 10px;
}

.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.card .card-content .category {
    margin-bottom: 0;
}
.card .category:not([class*="text-"]) {
    color: #555555;
    font-size: 14px;
    font-weight: 400;
}

.card .card-title:not(.card-calendar .card-title) {
    margin-top: 0;
    margin-bottom: 5px;
}
.card-title {
    font-weight: 600;
    margin-top: 20px;
    font-size: 20px;
}
.card {
    border-radius: 10px!important;
}
.card-stats .card-title {
    margin: 0;
}

.card .card-footer .stats {
    line-height: 22px;
    color: #555555;
    font-size: 15px;
}

.card .card-footer div {
    display: inline-block;
}

.card .card-header-text h4{
    margin-top: 0;
    margin-bottom: 3px;
	font-size:19px;
    font-weight: 400;
	color: #222222;
    text-decoration: none;
	
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
}


.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.streamline .sl-primary {
    border-left-color: #188ae2;
}

.streamline .sl-item {
    position: relative;
    padding-bottom: 12px;
    border-left: 1px solid #ccc;
}



.streamline .sl-item:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.streamline .sl-primary:before, .streamline .sl-primary:last-child:after {
    background-color: #188ae2;
}


.streamline .sl-danger:before, .streamline .sl-danger:last-child:after {
    background-color: #ff5b5b;
}

.streamline .sl-success {
    border-left-color: #10c469;
}

.streamline .sl-success:before, .streamline .sl-success:last-child:after {
    background-color: #10c469;
}

.streamline .sl-warning {
    border-left-color: #f9c851;
}

.streamline .sl-warning:before, .streamline .sl-warning:last-child:after {
    background-color: #f9c851;
}



.streamline .sl-danger {
    border-left-color: #ff5b5b;
}
.streamline .sl-item .sl-content {
    margin-left: 24px;
}

.streamline .sl-item .text-muted {
    color: inherit;
    opacity: .6;
	font-size:12px;
}

.streamline .sl-item p {
	font-size:14px;
	color:#333;
}


/*=======================================================
   main-content inner design like card end
   ===============================================*/



/*=============================================
  footer design start
  =========================================*/
 

  

footer {
    padding: 10px 0;
	position:relative;
	width:100%;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}


footer .copyright {
    padding: 15px;
	font-size:14px;
    margin: 0;
}


/*=============================================
  footer design end
  =========================================*/
  


#sidebar.show-nav,.body-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px){
	#sidebar.active {
    width:80px;
	height:100%!important;
	position:absolute!important;
	overflow:visible!important;
	top:0!important;
	z-index:666;
	float:left!important;
    bottom: 0!important;
}


#sidebar.active .sidebar-header h3 span {
   display:none;
   transition:all 0.5s ease;
}

#sidebar.active ul li a span{
    display:none;
	transition:all 0.5s ease;
}

#sidebar.active .dropdown-toggle::after {
    display:none;
	transition:all 0.5s ease;
}

#content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #EEEEEE;
}  

#content.active {
    width: calc(100% - 80px);
} 

#sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
}                                                                                                                                                                                                              
}


@media only screen and (min-width:992px){
.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
	transform: translate3d(0, -20px, 0);
    visibility: hidden;
	transition: all 150ms linear;
    display: block;
	min-width:15rem;
	right: 0;
    left: auto;
    opacity: 0;
}
	
}


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px){
#sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
	transform:translatex(-100%);
	transition: all 150ms linear;
	box-shadow:none!important;
}	

}

.navbar-brand {
    color: #333;
    font-weight: 700;
}
.Years {
    margin-right: 3px;
    font-weight: 500;
    font-size: 14px;
}
.LeftHobe{
    margin-left: 10px;
}


.Margin {
    margin-left: 10px;
    font-size: 15px;
    font-weight: 500 !important;
}
.Margin1 {
    margin-left: 1px;
    font-size: 15px;
    font-weight: 500!important;
}

.TopMargin {
    margin-top: 50px;
}

.Boxarea {
    padding: 20px;
    border-radius: 10px !important;

}

th {
    font-weight: 700 !important;
}

.Ptag {
    font-size: 15px;
    margin: 0px 0 0;
    line-height: 24px;
}

.DeColor {
    color: #ccc;
}

.Bold {
    font-weight: 500;
}
.ViewButton {
    background-color: #dce3f2;
    color: #6287d8;
}
.viewAll {
    font-size: 15px;
    margin-top: 30px;
}

.lastBox {
    font-size: 20px;
    font-weight: 400;
    color: rgb(93, 93, 93);
    font-style: normal;
}
.LogoArea {
    display: flex;
    width: 97%;
    margin: 20px auto;
}
.Logo img {
width: 165px;
margin-bottom: -20px;
}


/* <!-- Header Area --> */

.ViewHeader h4{
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom:20px;
}

.CHangedCOlor {
    color: rgb(114 111 111);
    font-weight: 500;
}
.fees {
    display: flex;
    margin-top: 15px;
}
.fees h5 {
    color: #3968CA;
    font-weight: 600;
    font-size: 20px;
}

.ViewBox {
    background-color: #fff;
    border-radius: 10px;
    width: 97%;
    height: auto;
    margin: 10px auto;
    padding: 20px !important;
}
.Name {
    color: #3968CA;
    font-weight: 600;
}

.nameValue 
{
    font-weight: 600;
    font-size: 14px;
}

.InfoArea {
    background-color: #fff;
    border-radius: 10px;
    width: 97%;
    height: auto;
    margin: 10px auto;
    padding-bottom: 35px !important;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}



/* doctor buttons  */

.DoctorOutlineButton {
    color: #333;
    background-color: #fff;
    background-image: none;
    font-weight: 600;
    padding:5px 15px;
    
}

.DoctorOutlineButton:hover {
    background-color: #fff;
    
}



.PForm {
    font-size: 20px;
    font-weight: 600;
}

.PQu1 > p {
    font-weight: 600;

}

.Pans {
    color: #3968CA;
}


@media all and (max-width:1284px){
    .DoctorButton .DoctorOutlineButton {
        margin-bottom: 10px;
       
    }
}

@media all and (max-width:767px) {
    .DoctorButton .DoctorOutlineButton {
        margin-bottom: 0px;
    }
    .vaccination {
        display: block;
 
    }
    .ViewHeader {
        text-align: center;
    }
    .fees {
        display: block;
        text-align: center;
        margin: auto;
    }
}


/* icon area start  */

.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 580px !important ;
    border: 15px;
    border: none;
    outline: none;
 
}

  
.icon-button__badge {
    position: absolute;
    top: -12px;
    right: -14px;
    width: 35px;
    height: 35px;
    background-color: #EB6565;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    z-index: 900000000px !important;
    font-size: 28px;
    cursor: pointer;
}
.icon-button__badge:hover{

    background-color: #EB6565;

}
/* icon area end  */


/* popuparea  */

.AppointmentFluH3 {
    font-size: 20px;
    color: #3968CA;
    text-align: justify;
    font-weight: 600;
}
.AppointmentFluP  {
    font-size: 15px;
    color: rgb(70, 68, 68);
    width: 80%;
    margin-bottom: 20px;
}

.SomeBold {
    font-weight: 600;
}

.formDesign input  {
    background-color: rgba(241,241,241,241);
    border: none !important;
}
.formDesign input::placeholder  {
  font-size: 13px;
}
#SmallForm{
    width: 80%;

}
#BigForm  {
    margin-top: 20px; 
}
#BigForm textarea{
    width: 80%;
    background-color: rgba(241,241,241,241);
    border: none;
    padding: 20px ;
    color: #333;
}

.textArea2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.MarkAsCompleted {
    padding: 10px;
    color: #fff;
    background-color:#3968CA ;
}


@media all and (max-width:992px){
    .icon-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 800px !important ;
        border: 15px;
        border: none;
        outline: none;
     
    }
    
    #content {
        margin-top: 0px;
        transition: all 0.3s;
        background-color:rgb(241, 241, 241) !important;
    }
    .SmallDeviceNone {
        display: none;
    }
   
}

@media all and (max-width:442px) {
    .DoctorButton .DoctorOutlineButton {
        margin-bottom: 10px;
    }
}



.b-tab {
    display: none;
  }
  
  .b-tab.active {
    display: block;
  }
  
  .b-nav-tab {
    display: inline-block;

  }
  

  
#tabs .tab {
    display: inline-block;
    cursor: pointer;
    position: relative;
    z-index:5;
}

#tabs .tabContent {
    top: -1px;
    z-index:1;
 
}
#tabs .hide {
    display: none;
}
#tabs .show {
    display: block;
}

#upcomingList {
    background-color: rgb(241, 241, 241) !important;
    width: 25%;
    height: 55px;
    margin-bottom: 30px;
    border-radius: 8px;
    margin-top: 30px;
}
#upcomingList button {
  
        margin-left: 2%;
     
        padding-left: 15px !important;
        padding-right: 15px;
        margin-top: 8px;
    
}
.listBtn1 {
    margin-left: 4%;
    background-color: #fff;
    padding-left: 15px !important;
    padding-right: 15px;
    margin-top: 8px;
}

.SmallThen {
    font-size: 10px;
}

.SomeBold {
    font-weight: 500;
}

.ChangeColor {
    color: #ccc;
}
.CreateButtonArea {
    margin-top: 35px;
}

.CreateButton {
    background-color: #3968CA;
    padding:10px 20px;
    color: #fff;
    font-weight: 500;
}
.DisplayFlex {
    display: flex;
}

.RightIcon {
    margin-left: 10px;
    margin-top: -10px;
}

@media all and (max-width:1284px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 30%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}

@media all and (max-width:1130px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 35%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}
@media all and (max-width:1311px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 30%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}


@media all and (max-width:1150px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 35%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}

@media all and (max-width:1066px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 40%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}


@media all and (max-width:767px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 56%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}



@media all and (max-width:538px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 62%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
}
@media all and (max-width:592px) {

}


@media all and (max-width:496px) {
    #upcomingList {
        background-color: rgb(241, 241, 241) !important;
        width: 100%;
        height: 55px;
        margin-bottom: 30px;
        border-radius: 8px;
        margin-top: 30px;
      }
      .DisplayFlex {
        display: block;
      }
      #upcomingList button {
        margin-left: 13%;
        padding-left: 15px !important;
        padding-right: 15px;
        margin-top: 9px;
      }

    .CreateButton {
      background-color: #3968CA;
      padding: 10px 20px;
      color: #fff;
      font-weight: 500;
      width: 100%;
      margin-bottom: 15px;
    }
}

@media all and (max-width:403px){
    #upcomingList button {
        margin-left: 8%;
        padding-left: 15px !important;
        padding-right: 15px;
        margin-top: 9px;
      }
}

@media all and (max-width:366px){
    #upcomingList button {
        margin-left: 2%;
        padding-left: 15px !important;
        padding-right: 15px;
        margin-top: 9px;
      }
}